# Build artifacts
.aws-sam/
dist/

# Terraform state/cache
infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.*

# Node
node_modules/

# IDE/Editor
.idea/
.vscode/

# Env/secrets
.env
env.json

# Deployment configuration
config.mk
dns-records.txt
variableoutputs.txt

# Google credentials
google-credentials.json